# 使用Python进行MySQL数据库编程

## Python 如何使用 MySQL？
python 最为强大的一点就是社区的庞大，有着各种方便使用的开源库，使python在短短时间内就拥有了大量的用户和库，并且由于使用库极其简单，可以将其他语言中需要大量代码才能完成的操作浓缩于短短几行代码中。这里给出几种用于连接 MySQL 的库： 

- MySQL-python
- mysqlclient
- **PyMySQL**
- peewee
- **SQLAlchemy**

可以在命令行中使用pip install (库名)来安装相应的第三方库。在本教程使用pymysql来操作数据库。

## 如何使用 pymysql 连接数据库？

连接数据库之前，请确认以下事项：

- 已经拥有可用的MySQL数据库（OK）
- 拥有操作权限的数据库账号密码（OK,账号为：root，密码为123456，mysql服务器主机名为mysql-server，默认端口地址3306）
- 运行环境中拥有相应的pymysql库（需要安装）

In [1]:
# 使用清华pip镜像源（https://pypi.tuna.tsinghua.edu.cn/simple）安装 pymysql
!pip install pymysql -i https://pypi.tuna.tsinghua.edu.cn/simple

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting pymysql
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/2c/57/af502e0e113f139b3f3add4f1efba899a730a365d2264d476e85b9591da5/PyMySQL-0.10.0-py2.py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 456 kB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-0.10.0

In [7]:
# 连接mysql，创建连接并返回连接对象
import pymysql

def connect():
    conn = pymysql.connect(
        # mysql服务器主机地址
        host='mysql-server',
        # mysql服务器连接端口
        port=3306,
        # 用户名
        user='root',
        # 数据库名（若不选此参数则不指定具体数据库连接，我们可以使用use database来选择其它数据库）
        db='test',
        # 用户密码
        passwd='123456',
        # 编码格式
        charset='utf8'
    )
    return conn

def test():
    # 创建连接，并且返回连接对象
    conn = connect()
    # 创建游标对象
    cursor = conn.cursor()
    # 执行SQL语句
    cursor.execute('''show tables;''')
    # 关闭游标
    cursor.close()
    # 关闭连接
    conn.close()
    
#  执行SQL语句
def exec_sql(sql):
    # 创建连接，并且返回连接对象
    conn = connect()
    # 创建游标对象
    cursor = conn.cursor()
    # 执行SQL语句
    cursor.execute(sql)
    res = cursor.fetchall()
    # 关闭游标
    cursor.close()
    # 关闭连接
    conn.close()
    return res

test()

In [8]:
conn = connect()
dir(conn.cursor)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__func__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [8]:
exec_sql('select * from test')

((1, 'admin', datetime.datetime(2020, 8, 22, 9, 21, 41)),
 (2, 'wang', datetime.datetime(2020, 8, 22, 9, 22, 1)),
 (3, 'zhang', datetime.datetime(2020, 8, 22, 9, 22, 16)),
 (4, 'yue', datetime.datetime(2020, 8, 22, 9, 22, 32)),
 (5, 'bai', datetime.datetime(2020, 8, 22, 9, 22, 46)),
 (6, 'guo', datetime.datetime(2020, 8, 22, 9, 23, 10)))