
# 综合实验
----

## 综合练习1：学生成绩表（续）

### 任务

1. 分别输出学生表、成绩表与学生成绩表的大小（条数）、纬度等基本信息
2. 对学生成绩表进行数值型特征（成绩）描述
3. 对学生成绩表进行类别型特征（等级和课程）描述

## 综合练习2：IBM股票价格数据离线分析

### 1. 实验目标

1. 掌握CSV数据读取方法
2. 掌握Dataframe常用属性与方法
3. 掌握Pandas描述性统计方法

### 2. 需求说明

### IBM股票价格数据

#### Yahoo财经IBM股票价格数据来源：

* 历史股票价格数据：ibm_stock.csv
* 数据字段信息：日期、开盘价、最高价、最低价、收盘价、调整的收益盘和交易量，使用逗号分隔(Date,Open,High,Low,Close,AdjClose,Volume)

#### 数据分析需求：

* 计算股票价格变化的日内历史百分比
* 计算公式：开盘价和收盘价计算一日价格的变化 = (开盘价 - 收盘价) / 开盘价，统计每日变化百分比的总数

### 3. 思路及步骤

1. 使用ndim、shape、memory_usage属性分别查看纬度、大小、内存占用信息
2. 使用describe方法进行描述性统计

### 4. 实现代码

In [2]:
import pandas as pd
df = pd.read_csv('data/ibm_stock.csv')
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-09-06,146.880005,147.660004,145.539993,146.389999,139.562469,4248800
1,2018-09-07,145.940002,146.500000,145.119995,145.449997,138.666306,4693100
2,2018-09-10,146.600006,147.300003,145.559998,145.649994,138.856964,3618300
3,2018-09-11,146.000000,146.990005,145.250000,146.490005,139.657791,3374700
4,2018-09-12,146.369995,147.979996,146.029999,146.570007,139.734070,4506700
5,2018-09-13,147.350006,149.000000,147.119995,148.949997,142.003052,5346500
6,2018-09-14,148.850006,149.300003,147.779999,148.330002,141.411957,3452100
7,2018-09-17,148.440002,149.070007,147.770004,147.940002,141.040176,3551900
8,2018-09-18,147.759995,148.990005,147.470001,148.559998,141.631256,3629400
9,2018-09-19,148.630005,149.960007,148.229996,149.059998,142.107925,4246200